/* Home.css */
.home-container {
  background-image: url('../img/27230.jpg');
  background-size: cover;
  background-position: center;
}
/* styles.css */
.gradient-text {
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
